.rodape__contato div{
    display: flex;
    justify-content: space-evenly;
    padding: 64px;
    background: #EAF2FD;
}
.rodape__contato__imagem{
    width: 176px;
    height: 50px;
}
.rodape__contato__formulario{
    display: flex;
    flex-direction: column;
    
}
.rodape__contato__formulario label{
    font-weight: 700;
    line-height: 19px;
    color: #464646;
    
}
#mensagem+input{
    color: #FFF;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    width: 182px;
    height: 51px;
    background-color: #2A7AE4;
    border: none;
}
#nome{
    width: 560px;
    height: 56px;
    margin-bottom: 16px;
    border: none;
}

#nome:focus{    
    outline:0;   
}
#mensagem:focus{    
    outline:0;   
}
#nome::placeholder{
    position: absolute;
    padding:5px;
    
}
#mensagem::placeholder{
    position: absolute;
    padding:5px;
    
}
#mensagem{
    height: 82px;
    border: none;
    margin-bottom: 16px;
}
.rodape__contato__lista{
    margin-bottom: 0;
}
.rodape__contato__linha{
    list-style: none;
    margin-bottom: 20px;
}
.rodape__contato__linha a{
    text-decoration: none;
    color: #464646
}
.rodape__footer{
    color: #464646;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 32px 0;
}
